.button {
  display: inline-block;
  padding: 13px 19px;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 300ms ease-out, filter 300ms ease-out;
}
.button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  border: none;
}

ol {
  counter-reset: orderedListCounter;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
}

.branding {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 0 13px 0;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 300ms ease-out;
}
.branding__logo {
  width: 162px;
  fill: #000000;
}

.location {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 17px;
  background-color: #eaeaea;
}
.location__text {
  font-weight: 500;
}

.footer__title {
  margin: 0;
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-style: italic;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__linkItem {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer__linkIcon {
  margin-right: 10px;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .branding {
    padding: 31px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0225);
  }
  .branding__logo {
    width: auto;
    height: 34px;
  }
  footer {
    padding: 56px 50px 30px 25px;
    flex-direction: row-reverse;
  }
  .footer__links {
    flex-direction: row;
    gap: 16px;
  }
  .footer__linkItem:nth-child(2) {
    margin-right: 30px;
  }
  .footer__linkItem:nth-child(4) {
    margin-right: 48px;
  }
}
body {
  background-color: white;
}

.heroImage {
  z-index: 0;
  position: relative;
  width: 100%;
  max-height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 60%;
     object-position: 0 60%;
}

.goBackArrow {
  position: fixed;
  left: 20px;
  font-size: 24px;
}

.menu {
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: min(100vw - 32px, 634px);
  justify-content: center;
  gap: 40px;
  margin: -48px auto 0 auto;
  padding: 32px;
  max-width: 1055px;
  background-color: #f6f6f6;
  border-radius: 48px 48px 0 0;
}
.menu__heading {
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}
.menu__heartInput {
  display: none;
}
.menu__heartInput:checked + label .menu__heartStop1 {
  stop-color: #9356dc;
}
.menu__heartInput:checked + label .menu__heartStop2 {
  stop-color: #ff79da;
}
.menu__heartInput:checked + label .menu__heartIcon {
  stroke-width: 0;
  transform: scale(1.1);
  transition: stroke-width 300ms ease-out, transform 300ms cubic-bezier(0.68, -11, 0.27, 12);
}
.menu__heartIcon {
  stroke: black;
  stroke-width: 1px;
  fill: url(#heartIconGradient);
  transform: scale(1);
  transition: stroke-width 300ms ease-out, transform 300ms cubic-bezier(0.68, -11, 0.27, 12);
}
.menu__heartIcon:hover {
  cursor: pointer;
}
.menu__heartStop {
  stop-color: transparent;
  transition: stop-color 300ms ease-out;
}
.menu__category {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__categoryTitle {
  position: relative;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
}
.menu__categoryTitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #98e2cf;
}
.menu__productsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__orderButton {
  margin: auto;
  padding: 13px 48px;
}

.restaurantTitle {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}

.productInput {
  display: none;
}

.product {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: 300ms ease-out forwards productReveal;
}
.product__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  align-items: end;
  transition: width 300ms ease-out;
}
.product__description {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: inherit;
}
.product__title, .product__subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.product__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.product__subtitle {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
.product__checkmark {
  position: absolute;
  right: -59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 100%;
  background-color: #98e2cf;
  border-radius: 0 15px 15px 0;
  font-size: 20px;
  color: white;
  transition: right 300ms ease-out;
}
.product:hover {
  cursor: pointer;
}

.productInput:checked + label .product__content {
  width: calc(100% - 59px);
}
.productInput:checked + label .product__checkmark {
  right: 0;
}

.product:nth-child(1n) {
  animation-delay: 0ms;
}

.product:nth-child(2n) {
  animation-delay: 300ms;
}

.product:nth-child(3n) {
  animation-delay: 600ms;
}

.product:nth-child(4n) {
  animation-delay: 900ms;
}

.product:nth-child(5n) {
  animation-delay: 1200ms;
}

.product:nth-child(6n) {
  animation-delay: 1500ms;
}

.product:nth-child(7n) {
  animation-delay: 1800ms;
}

.product:nth-child(8n) {
  animation-delay: 2100ms;
}

.product:nth-child(9n) {
  animation-delay: 2400ms;
}

.product:nth-child(10n) {
  animation-delay: 2700ms;
}

@keyframes productReveal {
  from {
    opacity: 0;
    transform: translateY(-150px) rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}
@media screen and (min-width: 768px) {
  .goBackArrow {
    left: 36px;
  }
  .menu__heading {
    justify-content: center;
  }
}