// ##### IMPORTS #####
@use "_globals.scss" as *;
@use "main.scss";
@use "partials/card";


// ##### CODE #####
// Start here.. [!Important (1.0.0.0.0)] [Inline CSS (0.1.0.0.0)] [#ID (0.0.1.0.0)] [.class (0.0.0.1.0)] [tag (0.0.0.0.1)]
.callToActionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    &__title, &__subtitle {
        margin: 0;
        text-align: center;
    }
    &__title {
        margin-bottom: 12px;
    }
    &__subtitle {
        margin-bottom: 26px;
    }
}

.bookingProcessSection {
    padding: 24px 20px;
    background-color: white;
}

.orderedList {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    &__item {
        position: relative;
        margin: 0 0 0 12px;
        padding: 24px 32px;
        background-color: $background;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    }
    &__item::before {
        content: counter(orderedListCounter);
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        counter-increment: orderedListCounter;
        color: white;
        background-color: $primary;
        border-radius: 12px;
        font-size: 14px;
        line-height: 17px;
        transform: translate(-50%);
    }
    &__itemIcon {
        margin-right: 27px;
        color: $grey4;
    }
    &__itemIcon--alt {
        color: $primary;
    }
}

.restaurantsSection {
    padding: 27px 17px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 18px;
    }
}

@for $i from 1 through 4 {
    #restaurant#{$i} + label .card__heartIcon {
        fill: url(#heartIconGradient#{$i});
    }
}


.loader {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: $primary;
    background-color: white;
    font-size: max(6px, min(128px, 8vw));
    font-family: 'Shrikhand', cursive;
    letter-spacing: max(6px, min(32px, 2vw));
    font-style: italic;
    font-weight: bold;
    animation: loaderDisapear 3s 1 forwards;
    span {
        transform: translateY(-10px);
        animation: loadingLetters 0.7s 5;
        @for $i from 1 through 7 {
            &:nth-child(#{$i+1}) {
                animation-delay: #{$i*.1}s;
            }
        }
    }
  }


@keyframes loadingLetters {
    0%, 100% {
        transform: translateY(-10px);
        color: $primary;
    }
    50% {
        transform: translateY(10px);
        color: $secondary;
    }
}

@keyframes loaderDisapear {
    0%, 66% {
        opacity: 1;
    }
    100% {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}


@media screen and (min-width: 768px) {
    .bookingProcessSection, .restaurantsSection {
        display: grid;
        grid-template-columns: min(calc(100vw - 36px), 1080px);
        justify-content: center;
    }
    .orderedList {
        flex-direction: row;
    }
    .restaurantsSection {
        &__container {
            grid-template-columns: 1fr 1fr;
            gap: 18px;
        }
    }
}